.git
.github
.vscode
.idea
dist
bin
*.md
!README.md
config.yml
config.yaml
config.local.*
testdata
*_test.go
.goreleaser*
.golangci*
.prettier*
.editorconfig
LICENSE
CONTRIBUTING.md
CHANGELOG.md
TODO.md
